<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIKitExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20DE7C1B1CBE3FF800C5AA9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20DE7C341CBE3FF900C5AA9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20DE7C3F1CBE3FF900C5AA9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
