<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageViewApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>202C10A21C0DE22C00E2048D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>202C10BB1C0DE22C00E2048D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>202C10C61C0DE22C00E2048D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
